---
title: Vancouver East Village
---

<h1>Vancouver East Village Store Directory<span></span></h1>

<section class="map">
  <meta name="mapOptions" content='<%= data.directory.google_map.options.to_json.html_safe %>'>
  <meta name="locations" content='<%= data.directory.locations.to_json.html_safe %>'>
  <meta name="categories" content='<%= data.directory.navigation.categories.to_json.html_safe %>'>

  <div id="map"></div>
</section>
<div class="cards">
<% sortedLocations = data.directory.locations.sort_by { |k| k["name"] } %>
<% sortedLocations.each do |location| %>
<% card_class = location.name.gsub(/[^a-zA-Z 0-9]/, "").gsub(/\s/,'-') %>
    <div class="card">
      <div class="card-header">
        <a href="" class="<%= card_class %>">
          <%= location.name %>
        </a>
      </div>
      <div class="card-copy">
        <span class="fa fa-map-marker"></span><%= location.address %>
        <a class="card-phone" href="tel:<%= location.phone %>">
          <span class="fa fa-phone"></span><%= location.phone %>
        </a>
      </div>
    </div>
  <% end %>
</div>
